<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>To-Do</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./todoAng_style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="./todoAng_script.js"></script>
</head>
<body ng-app="todoApp" ng-controller="MainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="wrapper">
          <h1>My to-do list</h1>
          <form ng-submit="addItem()">
          <input type="text" class="form-control" id="todo-input" ng-model="newItems">
          <ol id="list">
            <li ng-repeat="item in items track by $index" ng-click="remove(item)">{{item}}</li>
          </ol>
          </form>
        </div>
      </div>  
    </div>
  </div>
</body>
</html>