
<div ng-controller="FormCtrl">
<h1>Form Validator</h1>
<div class="wrapper col-md-6 col-md-offset-3">
  <p ng-repeat="warning in invalid track by $index">{{warning}}</p>
	<form name="myForm" ng-show="success">
	<input  type="text" ng-model="name" placeholder="name" ng-style="myStyle">
	<br>
	<input type="text" ng-model="phone" placeholder="phone number" ng-style="myStyle">
	<br>
	<input type="text" ng-model="email" placeholder="email" ng-style="myStyle">
	<br>
	<input  type="password" ng-show="toggle" ng-model="pass1" placeholder="password" ng-style="myStyle">
  <input  type="text" ng-hide="toggle" ng-model="pass1" placeholder="password" ng-style="myStyle">
	<br>
	<input type="password" ng-show="toggle" ng-model="pass2" placeholder="repeat password" ng-style="myStyle">
  <input type="text" ng-hide="toggle" ng-model="pass2" placeholder="repeat password" ng-style="myStyle">
	</form>
	<button ng-click="action()" ng-show="link" ng-show="success">Validate</button>
	<button ng-click="action()" ng-hide="link"><a href="#/contacts">Great! Click to create contacts!</a></button>
  <button ng-click="passtoggle()" ng-show="link" ng-show="success">Show/Hide Password</button>
  <button ng-click="clear()" ng-show="link" ng-show="success">Clear form</button>
 
</div>
	</div>